*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    min-height: 100%;
}
html{
    height: 100%;
}
.grid-container > *{
   text-align: center;
   border-radius: 0px;
   padding: 10px;
}
/* ===== ANIMATIONS styles ===== */
@keyframes rotateY {
    50% { transform: perspective(400px) rotateY(360deg); }
}
@keyframes blink {
    50% { border-color: transparent; }
} 
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
    /* //Copy/Paste in text to implement this animation
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap; */
}
@keyframes float {
    0% {
      box-shadow: 0 5px 15px 0px rgba(222, 187, 12, 0.6);
      transform: translatey(0px);
    }
    50% {
      box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
      transform: translatey(-20px);
    }
    100% {
      box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
      transform: translatey(0px);
    }
}
@keyframes blink-text {
    50% { text-shadow: #FFB800 1px 0px 20px }
}
/* ===== NAVBAR styles ===== */
.navbar{
    grid-area: navbar;
    width: 100%;
    height: fit-content;
    background-color: #282828;
}
    .navbar-brand{
        color: #6A5800;
        font-size: 22px;
    }
    #navbarCollapse a:hover{
        font-style: italic;
        /* text-shadow: #FFB800 1px 0px 20px ; */
    }
/* ===== HEADER styles ===== */
.header{
    grid-area: header;
    width: 100%;
    height: fit-content;
    background-color: #150549;
}
#header-container{
    /* justify-content: center;
    align-items: center; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1em;
    width: 100%;
    margin: 0;
    color: #E2E2E5;
}
    hgroup{
        padding: 40px 0; 
    }
        hgroup #myName{
            font-family: 'Heebo', sans-serif;
            font-size: 2em;
            padding: 15px 0;
            /* text-shadow: #FFB800 1px 0px 20px ; */
            animation: blink-text .5s step-end infinite alternate; 
        }
        hgroup p{
            font-family: 'Poppins', sans-serif;
            font-size: 25px;
            letter-spacing: 0.7px;
            margin: 0;
        }
        #social-networks{
            display: inline-flex;
            align-items: flex;
            gap: 30px;
            padding: 20px 0;
        }
            .social-networks i{ /* -- ALL <i> socialnetworks icons styles -- */
                color: #E2E2E5;
                font-size: 2em;
                animation: rotateY 7s linear infinite;
            }
        #interest-data{
            display: flex;
            padding: 20px 2px;
            gap: 30px;
            justify-content: center;
            align-items: center;
            font-family: 'Poppins', sans-serif;
        }
            .data{
                width: 195px;
                font-size: 20px;
            }
        .importat-btn{
            padding: 40px 0;
        }
            .btnImportant {
                background-color: #6A5800;
                border-radius: 10px;
                padding: 10px 20px;
                cursor: pointer;
                font-family: 'Heebo', sans-serif;
                font-size: 20px;
                color: #E2E2E5;
            }
            .btnImportant:hover {
                 background-color: #C1A000; 
            }
    #photo{
        justify-content: center;
        align-items: center;
    }
        #photo img{
            width: 90%;
            flex-shrink: 0;
            border-radius: 1000px;
            border: 10px solid #6A5800;
            animation: float 5s ease-in-out infinite;
        }

/* ===== MAIN styles ===== */
.main{
    grid-area: main;
    width: 100%;
    height: fit-content;
    background-color: #282828;
}
/* ===== HGROUP styles for all sections ===== */
.heading-section{
    padding: 60px 120px;
    font-family: 'Heebo', sans-serif;
}
.ask-section{
    color: #6A5800;
    font-size: 20px;
    text-align: start;
}
.title-section{
    color: #E2E2E5;
    font-size: 32px;
    text-align: start;
}
/* ===== END --HGROUP styles for all sections ===== */
/* ===== SKILLS styles ===== */
#skills{
    grid-area: skills;
    width: 100%;
    height: fit-content;
}
#skills-container{
    width: 100%;
    height: fit-content;
    padding: 0;
    margin: 0;
}
#skills-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
    width: 100%;
    height: fit-content;
    padding: 0;
    margin: 0;
}
    #skills-cards img{
        width: 128px;
        height: 128px;
    }
    #skills-cards p{
        margin: 0;
    } 
    #skill-card span{
        /* display: block; */
        font-family: monospace;
        color: #E2E2E5;
        text-align: center;
        font-size: 2.5ch;
        border-right: 0.08em solid;
        animation: blink .3s step-end infinite alternate; 
    }

    /**/
    .flip-card:active {
        transform: rotateY(180deg);
        /* transition: transform 1s; */
        transform-style: preserve-3d;
    }
    .flip-card .flip-card-front{
        display: grid;
        width: fit-content;
        padding: 30px 18px;
        margin: 0 auto;
        background-color: rgba(71, 31, 198, 0.15);
        border-radius: 20px;
        gap: 24px;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    .flip-card .flip-card-back {
        display: none;/*display for game**/
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
         transform: rotateY(180deg);
        /* box-sizing:content-box; */
    }
    
/* ===== PROJECTS styles ===== */
#projects{
    grid-area: projects;
    width: 100%;
    height: fit-content;
    padding: 0;
    margin: 0;
}
#projects-container{
    width: 100%;
    height: fit-content;
    padding: 0;
    margin: 0;
}
#projects-cards{
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
}
    #projects-cards .card {
        display: grid;
        position: relative;
        padding: 18px;
        margin: 0 auto;
        gap: 5px;
        width: 26rem;
        border-radius: 10px;
        background-color: #1F1F1F;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        font-family: 'Open Sans', sans-serif;
    }
    #projects-cards .card:hover {
        box-shadow: 0 5px 20px 0px rgba(222, 187, 12, 0.6);
    } 
    #projects-cards img{
        width: wrap;
        height: 215px;
        border-radius: 10px;
        background-color: #CCCCCC;
    }
    .card-title {
        color: #6A6A00;
        font-size: 24px;
        text-align: left;
    }
    .card-text{
        color: #FFFFFF;
        font-size: large;
        text-align: left;
        text-wrap: wrap;
    }
    .tools .card-link{
        padding: 4px 6px;
        border-radius: 5px;
        border: 1px solid #FFFFFF;
        text-align: center;
        color: #FFFFFF;
        text-decoration: none;
    }
    .tools .card-link:hover {
        background-color: #C1A000;
    }
    .githubproject i{
            color: #CCCCCC;
            font-size: 2em;
            animation: rotateY 7s linear infinite;
    }
    .githubproject i:hover{
        color: #C1A000;
    }
/* ===== ABOUT-ME styles ===== */
#about-me{
    grid-area: aboutme;
    width: 100%;
    height: fit-content;
    padding: 0;
    margin: 0;
    background-color: #020202;
}
#aboutme-container{
    width: 100%;
    height: fit-content;
    padding: 0;
    margin: 0;
}
    #resume-container{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-column-gap: 1em;
        width: 100%;
        height: fit-content;
        
        margin: 0;
        padding: 0 80px;
        justify-content: center;
        align-items: center;
    }
        #resume {
            color: #F4F4F4;
            font-family: 'Heebo', sans-serif;
            font-size: 24px;
            text-align: left;  
        }
        #selfie img{
            width: 80%;
            border-radius: 10px;
            box-shadow: 0 8px 20px 0px rgba(222, 187, 12, 0.6);
        }
/* ===== CONTACT-ME styles ===== */
#contact-me{
    grid-area: contactme;
    background-color: #020202;
    height: fit-content;
}
#contactme-container{
    padding: 0;
    margin: 0;
    width:100%;
}
    #contact-container{
        width: 90%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 6em;
        padding: 0 160px; 
        margin: 0;
    }
        #letstalk{
            text-align: left;
            padding: 0 0 30px 0;
        }
            #contact-title{
                color: #FFB800;
                font-family: 'Permanent Marker', cursive;
                font-size: 36px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
            #contact-text{
                color: #FFF;
                font-family: 'Poppins', sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal; 
            }
        #contact-form{
            text-align: left;
        }
            #contact-form label{
                color: #FFF;
                font-family: 'Poppins', sans-serif;
                font-size: 16px;
                font-weight: 400;
            }
            #contact-form input{
                color: #F4F4F4;
                border-radius: 10px;
                background: rgba(255, 255, 255, 0.25);
                border: 0;
            }
            #contact-form input:focus{
                box-shadow: 0 5px 10px 0px #FFB800;
            }
            #contact-form textarea{
                color: #F4F4F4;
                border-radius: 10px;
                background: rgba(255, 255, 255, 0.25);
                border: 0;
            }
            #contact-form textarea:focus{
                box-shadow: 0 5px 10px 0px #FFB800;
            }
            #contact-form ::placeholder{
                color: rgba(0, 0, 0, 0.25);
                font-family: Inter;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
            #submit{
                border-radius: 10px;
                border: 0;
                background: #6A5800/* FFB800 */;
                padding: 6px;
                margin: 20px 0;
                color: #020202;
                text-align: center;
                font-size: 14px;
                text-wrap: nowrap;
                
            }
            #submit:hover, #submit:active{
                box-shadow: 0 5px 10px 0px #FFB800;
            }
/* ===== FOOTER styles ===== */
.footer{
    grid-area: footer;
    background-color: #6A5800;
    height: fit-content;
}
#footer-container{
    color: #020202;
    margin: 0;
}
    #footer-container ul{
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
    } 
        #footer-container li{
            list-style: none;
        }
        #footer-container li:hover{
            text-shadow: #FFB800 1px 0px 20px ;
        }
    #footer-container #myName{
        font-family: 'Permanent Marker', cursive;
        font-size: 36px;
        margin: 0;
    }
    #footer-container #copyright{
        font-family: 'Poppins', sans-serif;
        font-size: 12px;
        margin: 0;
    }
.social-networks{
    display: inline-flex;
    align-items: flex;
    gap: 30px;
    padding: 0px 0;
}
.social-networks i{
    color: #E2E2E5;
    font-size: 1.5em;
}
#back-header{
    position: fixed;
    bottom: 5px;
    right: 10px;
}

/*Mobile*/
.grid-container{
    display: grid;
    gap: 0px;
    grid-template-rows: 56px auto 200px;
    grid-template-areas:
    "navbar"
    "header"
    "main"
    "main"
    "main"
    "aboutme"
    "contactme"
    "footer"
    ;
}
/*Tablet*/
@media(min-width:768px){
    .grid-container{
        grid-template-columns: auto ;
        grid-template-rows: 56px auto 200px;
        grid-template-areas: 
        "navbar navbar"
        "header header"
        "main main"
        "main main"
        "main main"
        "aboutme aboutme"
        "contactme contactme"
        "footer footer";
    }
}
/*Desktop*/
@media(min-width:900px){
    .grid-container{
        grid-template-columns: auto ;
        grid-template-rows: 56px auto 200px;
        grid-template-areas: 
        "navbar navbar navbar"
        "header header header"
        "main main main"
        "main main main"
        "main main main"
        "aboutme aboutme aboutme"
        "contactme contactme contactme"
        "footer footer footer";
    }
}

@media only screen and (max-width: 768px) {
    #header-container {
      grid-template-columns: repeat(1, 1fr);
    }
    #skills-cards {
        grid-template-columns: repeat(3, 1fr);
    }
    #projects-cards {
        grid-template-columns: repeat(1, 1fr);
    }
    #projects-cards .card {
        box-shadow: 0 5px 20px 0px rgba(222, 187, 12, 0.6);
    }
    #resume-container {
        grid-template-columns: repeat(1, 1fr);
        padding: 0 60px;
    }
        #resume {
            font-size: 18px;
        }
        #selfie img{
            width: 30%;
        }
    #contact-container {
        grid-template-columns: repeat(1, 1fr);
        width: 70%;
        padding: 0;
    }
  }
  @media only screen and (max-width: 500px) {
    #skills-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}